*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* padding: 10px; */
  
}

.avtorization { 
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 30px;
  line-height: 1.6;
}

.wrapper {
  background-color: gray;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 550px;
  max-height: 400px;
  margin: 0 auto;
}

.ant-form-item-label > label {
  font-size: 18px;
  color: white;
}

.ant-form-vertical {
  width: 100%;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}

.button_spin { 
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: space-between;
}

.ant-spin-spinning { 
  display: flex;
  align-items: center;
}